# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# 
# Wed Jun 19 15:59:57 CEST 2013
allowDebugOutput=false
allowUpdateCheck=true
checksum=1wk
